<div class="container-fluid w-50 border rounded shadow mt-5 p-4 text-right border bg-light ">
  <%= form_for @post, url: next_wizard_path, method: "PUT" do |f| %>
    <%= f.hidden_field :post_id, value: params[:post_id] %>
    <h3 class="h3 mb-3 fw-normal">Car Information</h3>
    <br>
    <div class="container-fluid">
      <div class="row mt-3 align-items-start">
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :city, class: "form-label" %>
            <%= f.select :city, options_for_select([['Lahore', 'lahore'],['Karachi', 'karachi'],['Islamabad', 'islamabad'],['Quetta', 'quetta'],['Rawalpindi', 'rawalpindi']]), {include_blank: true}%>
            <br>
          </div>
        </div>
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :milage, class: "form-label" %>
            <%= f.text_field :milage %>
            <br>
          </div>
        </div>
      </div>

      <div class="row align-items-start">
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :car_make, class: "form-label" %>
            <%= f.select :car_make, options_for_select([['Suzuki', 'suzuki'],['Toyota', 'toyota'],['honda', 'honda'],['BMW ', 'bmw']]), {include_blank: true}%>
            <br>
          </div>
        </div>

        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :engine_Type, class: "form-label" %>
            <%= f.select :engine_type, options_for_select([['Petrol', 'petrol'],['Diesel', 'diesel'],['Hybrid', 'hybrid']]), {include_blank: true}%>
            <br>
          </div>
        </div>
      </div>
    
      <div class="row align-items-start">
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :price, class: "form-label" %>
            <%= f.text_field :price %>
            <br>
          </div>
        </div>    

        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :transmission_type, class: "form-label" %>
            <%= f.select :transmission_type, options_for_select([['Automatic', 'automatic'],['Manual', 'manual']]), {include_blank: true}%>
            <br>
          </div>
        </div>
      </div>
    
      <div class="row align-items-start">
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :color, class: "form-label" %>
            <%= f.select :color, options_for_select([['Black', 'black'],['White', 'white'],['Gray', 'gray'],['Silver', 'silver'],['Red', 'red']]), {include_blank: true}%>
            <br>
          </div>
        </div>

        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :assembly_Type, class: "form-label" %>
            <%= f.select :assembly_type, options_for_select([['Local', 'local'],['Imported', 'imported']]), {include_blank: true}%>
            <br>
          </div>
        </div>
      </div>
      
      <div class="row align-items-start">
        <div class="col-sm">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :engine_capacity, class: "form-label" %>
            <%= f.select :engine_capacity, options_for_select([['Lahore', 'lahore'],['Karachi', 'karachi'],['Islamabad', 'islamabad']]), {include_blank: true}%>
            <br>
          </div>
        </div>
      
      <div class="container">
        <div class="row align-items-start">
          <div class="col-sm">
            <div class="dropdown field mb-3 text-start">
              <%= f.label:add_discription %><br>
              <%= f.text_area:add_discription %><br>
            </div>
          </div>
        </div>  
        <br>

    <%= f.hidden_field:user_id, value: current_user.id %>
    <%= f.submit "next >" %>
    <% end %>
  </div>
</div>