<div class="container-fluid w-75 border rounded shadow mt-5 p-4 text-right border bg-light ">
  <%= form_with model: @post, url: dashboard_path, method: 'get', local: true do |f| %>
    <h4>Find Cars</h4>
    <div class="container text-center">
      <div class="row row-cols-3">
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Car_Make, class: "form-label" %>
            <%= f.select :car_make, options_for_select(Post::CAR_MAKE), {include_blank: true}, class: "mx-0 form-select"%>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :All_Cities, class: "form-label" %>
            <%= f.select :city, options_for_select(Post::CITY), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Price, class: "form-label" %>
            <%= f.select :price, options_for_select({'upto 5 lacs': 10000}), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
      <% if show_more %>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Engine_Detail, class: "form-label" %>
            <%= f.select :engine_type, options_for_select(Post::ENGINE_TYPE), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Transmission_Type, class: "form-label" %>
            <%= f.select :transmission_type, options_for_select(Post::TRANSMISSION_TYPE), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Color, class: "form-label" %>
            <%= f.select :color, options_for_select(Post::COLOR), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Milage, class: "form-label" %>
            <%= f.select :milage, options_for_select(Post::MILAGE), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :engine_capacity, class: "form-label" %>
            <%= f.select :engine_capacity, options_for_select(Post::ENGINE_CAPACITY), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
        <div class="col">
          <div class="dropdown field mb-3 text-start">
            <%= f.label :Assembly_Type, class: "form-label" %>
            <%= f.select :assembly_type, options_for_select(Post::ASSEMBLY_TYPE), {include_blank: true}, class: "mx-0 form-select" %>
            <br>
          </div>
        </div>
      <% end %>
          <div class="col-sm-6">
            <%= link_to "#{show_more ? "Less Search Options" : "More Search Options"}", dashboard_path(show_more: !show_more), remote: true %>
          </div>
          <div class="col-sm-6 text-center">
            <%= f.submit "Search", class: "btn btn-secondary" %>
            <button type="button" class="btn btn-light">Clear Filter</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="container-fluid w-75 mb-5 mt-5 p-5 text-right border bg-light ">
    <h4> Search Result:</h4>
    <% @result&.each do |result| %>
      <%= link_to result.searchable.car_make, post_path(result.searchable) %><br>
    <% end %>
    <%= paginate @result %>
  </div>
</div> 
